<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminSaleMapper">


<!-- 월별 -->

    <select id="selectListMonth" resultType="OrderDetailResponse">
   SELECT *
        FROM (
            SELECT ROWNUM AS RNUM, T1.*
            FROM (
                SELECT 
                O.ORDER_TOTAL_PRICE, 
                O.ORDER_DATE, 
                (
                    SELECT MIN(C.COMPANY_NAME)
                    FROM ORDER_DETAIL OD
                    JOIN PRODUCT P
                      ON OD.PRODUCT_ID = P.PRODUCT_ID
                    JOIN COMPANY C
                      ON P.COMPANY_CODE = C.COMPANY_CODE
                    WHERE OD.ORDER_ID = O.ORDER_ID
                ) AS COMPANY_NAME
                FROM ORDERS O
                WHERE O.ORDER_DATE >= #{startDate}
                  AND O.ORDER_DATE &lt; #{nextMonthStartDate}
                  AND O.ORDER_CANCEL_YN = 'N'
                ORDER BY O.ORDER_DATE DESC
            ) T1
        )
        WHERE RNUM BETWEEN #{offset} AND #{limit}
    </select>


    <select id="monthListCount" resultType="int">
	  SELECT COUNT(*)
        FROM ORDERS
        WHERE ORDER_DATE >= #{startDate}
          AND ORDER_DATE &lt; #{nextMonthStartDate}
          AND ORDER_CANCEL_YN = 'N'
</select>

<select id="selectTotalMonth" resultType="int">
 SELECT NVL(SUM(ORDER_TOTAL_PRICE), 0)
        FROM ORDERS
        WHERE ORDER_DATE >= #{startDate}
          AND ORDER_DATE &lt; #{nextMonthStartDate}
          AND ORDER_CANCEL_YN = 'N'
</select>


<select id="selectTotalCountMonth" resultType="int">
  SELECT COUNT(*)
        FROM ORDERS
        WHERE ORDER_DATE >= #{startDate}
          AND ORDER_DATE &lt; #{nextMonthStartDate}
          AND ORDER_CANCEL_YN = 'N'

</select>



<!-- 일별 -->



    <select id="selectListDate" resultType="OrderDetailResponse">
        SELECT *
        FROM (
            SELECT ROWNUM AS RNUM, T1.*
            FROM (
                SELECT 
                O.ORDER_TOTAL_PRICE, 
                O.ORDER_DATE, 
                (
                    SELECT MIN(C.COMPANY_NAME)
                    FROM ORDER_DETAIL OD
                    JOIN PRODUCT P
                      ON OD.PRODUCT_ID = P.PRODUCT_ID
                    JOIN COMPANY C
                      ON P.COMPANY_CODE = C.COMPANY_CODE
                    WHERE OD.ORDER_ID = O.ORDER_ID
                ) AS COMPANY_NAME
               
                FROM ORDERS O
                <where>
                O.ORDER_CANCEL_YN = 'N'
                    <if test="startDate != null and endDate != null">
                       AND O.ORDER_DATE BETWEEN #{startDate} AND #{endDate}
                    </if>
                </where>
                ORDER BY O.ORDER_DATE DESC
            ) T1
        )
        WHERE RNUM BETWEEN #{offset} AND #{limit}
    </select>
    
    <select id="dateListCount" resultType="int">
        SELECT COUNT(*)
        FROM ORDERS O
        <where>
        O.ORDER_CANCEL_YN = 'N'
            <if test="startDate != null and endDate != null">
               AND O.ORDER_DATE BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
    </select>
    

    <!-- 총 매출 합계 -->
	<select id="selectTotalDate" resultType="int">
	 SELECT NVL(SUM(ORDER_TOTAL_PRICE), 0)
        FROM ORDERS O
        <where>
         O.ORDER_CANCEL_YN = 'N'
            <if test="startDate != null and endDate != null">
              AND O.ORDER_DATE BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
	</select>
	
	<!-- 총 주문 개수 -->
	<select id="selectTotalCountDate" resultType="int">
		     SELECT COUNT(*)
        FROM ORDERS O
        <where>
         	O.ORDER_CANCEL_YN = 'N'
            <if test="startDate != null and endDate != null">
               AND O.ORDER_DATE BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
	
	</select>


</mapper>