<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminSaleMapper">


<!-- 월별 -->

    <select id="selectListMonth" resultType="Orders">
   SELECT *
        FROM (
            SELECT ROWNUM AS RNUM, T1.*
            FROM (
                SELECT *
                FROM ORDERS
                WHERE ORDER_DATE >= #{startDate}
                  AND ORDER_DATE &lt; #{nextMonthStartDate}
                ORDER BY ORDER_DATE DESC
            ) T1
        )
        WHERE RNUM BETWEEN #{offset} AND #{limit}
    </select>


    <select id="monthListCount" resultType="int">
	  SELECT COUNT(*)
        FROM ORDERS
        WHERE ORDER_DATE >= #{startDate}
          AND ORDER_DATE &lt; #{nextMonthStartDate}
</select>

<select id="selectTotalMonth" resultType="int">
 SELECT NVL(SUM(ORDER_TOTAL_PRICE), 0)
        FROM ORDERS
        WHERE ORDER_DATE >= #{startDate}
          AND ORDER_DATE &lt; #{nextMonthStartDate}


</select>


<select id="selectTotalCountMonth" resultType="int">
  SELECT COUNT(*)
        FROM ORDERS
        WHERE ORDER_DATE >= #{startDate}
          AND ORDER_DATE &lt; #{nextMonthStartDate}

</select>



<!-- 일별 -->

<select id="dateListCount" resultType="int">
        SELECT COUNT(*)
        FROM ORDERS
        <where>
            <if test="startDate != null and endDate != null">
                ORDER_DATE BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
    </select>

    <select id="selectListDate" resultType="Orders">
        SELECT *
        FROM (
            SELECT ROWNUM AS RNUM, T1.*
            FROM (
                SELECT *
                FROM ORDERS
                <where>
                    <if test="startDate != null and endDate != null">
                        ORDER_DATE BETWEEN #{startDate} AND #{endDate}
                    </if>
                </where>
                ORDER BY ORDER_DATE DESC
            ) T1
        )
        WHERE RNUM BETWEEN #{offset} AND #{limit}
    </select>

    <!-- 총 매출 합계 -->
	<select id="selectTotalDate" resultType="int">
	 SELECT NVL(SUM(ORDER_TOTAL_PRICE), 0)
        FROM ORDERS
        <where>
            <if test="startDate != null and endDate != null">
                ORDER_DATE BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
	</select>
	
	<!-- 총 주문 개수 -->
	<select id="selectTotalCountDate" resultType="int">
		     SELECT COUNT(*)
        FROM ORDERS
        <where>
            <if test="startDate != null and endDate != null">
                ORDER_DATE BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
	
	</select>


</mapper>