<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<insert id="insertMember">
	    INSERT INTO MEMBER (
	        MEMBER_NO,
	        MEMBER_ID, 
	        MEMBER_PWD, 
	        MEMBER_NAME, 
	        MEMBER_ADDRESS, 
	        PHONE, 
	        EMAIL, 
	        MEMBER_JOIN_DATE, 
	        MEMBER_ACTIVE_YN
	    ) 
	    VALUES (
	        SEQ_MEMBER.NEXTVAL,
	        #{memberId},
	        #{memberPwd},
	        #{memberName},
	        #{address},
	        #{phone},
	        #{email},
	        DEFAULT,
	        DEFAULT
	    )
	    <selectKey keyProperty="memberNo" resultType="int" order="AFTER">
	        SELECT SEQ_MEMBER.CURRVAL FROM DUAL
	    </selectKey>
	</insert>
	
	<select id="idCheck" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_ID= #{memberId}
	</select>
	
	<select id="loginMember" resultType="member">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_ID  = #{memberId}
			AND MEMBER_PWD = #{memberPwd}
			AND MEMBER_ACTIVE_YN = 'Y'
	</select>
	
	<insert id="insertAuthority">
		INSERT INTO AUTHORITIES VALUES (#{memberNo}, 'ROLE_USER')
	</insert>
	
</mapper>